* {
    font-family: 'Inter ui', -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    font-feature-settings: "calt", "tnum", "case", "ss01";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

body {
    margin: 0;
    color: black;
    height: 100%;
    font-size: 15px;
}

header {
    height: 100vh;
    color: white;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

hgroup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-attachment: fixed !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    border-radius: 15px;
    padding: 0px 20px 15px 20px;
    z-index: 2;
    animation: Fondue 1.5s;
}

nav {
    z-index: 2;
    margin-bottom: 5vh;
    flex-wrap: wrap;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey;
    padding: 45px;
    background-color: #efefef;
    z-index: 1;
}

section,
dd,
dt,
p,
h3,
h4,
h1,
.card,
.timeline {
    animation: HautFondue 1.2s;
    animation-fill-mode: forwards;
    z-index: 3;
}

dt,
dd,
p,
.card-body {
    color: #222;
}

#about-section>section {
    margin-top: 25px;
}

dt {
    font-weight: bold;
}

section h1 {
    margin-bottom: 3vh;
}

h1 {
    align-self: center;
    margin-top: 25px;
    margin-bottom: 0px;
}

h3 {
    margin-top: 3rem;
    margin-bottom: 2rem;
}

footer a {
    color: #666;
}

.container {
    width: 100%;
    background: white;
    height: auto;
    padding-bottom: 15vh;
    z-index: 1;
}

.content {
    flex-grow: 1;
}

.profile {
    height: auto;
    max-height: 250px;
    animation: none;
}

.title {
    text-align: center;
    margin-bottom: 5px;
    margin-top: 15px;
    animation: none;
    letter-spacing: -2px;
}

.description {
    margin-top: 0;
    text-align: center;
    color: lightgrey;
    font-weight: 300;
    letter-spacing: .001em;
    animation: none;
}

.card {
    margin: 4px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    border: solid grey 1px;
}

.navbar {
    display: flex;
}

.links {
    flex-basis: 100px;
    flex-grow: 1;
    flex-wrap: wrap;
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    padding-right: 2rem;
    text-decoration: none;
    vertical-align: middle;
}

.wrap-text {
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    margin: auto;
    max-width: 980px;
    background: white;
}

#background-image-blurred-bottom,
#background-image-blurred,
#background-image {
    background-attachment: fixed !important;
    /*background-position: center !important;*/
    background-repeat: no-repeat !important;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    z-index: -1;
    width: 100%;
}

#background-image {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
}

#background-image-blurred {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.2s;
}

#background-image-blurred-bottom {
    height: 20vh;
}

#resume-section,
#about-section,
#contact-section {
    display: none;
}

#contact-section.active,
#about-section.active,
#resume-section.active {
    height: auto;
    display: block;
}

#arrow {
    position: fixed !important;
    bottom: 5px;
    margin: 0 auto 0 auto;
    color: white;
    font-weight: bold;
    position: relative;
    font-size: 50px;
    z-index: 0;
    animation: Fondue 1s;
    display: block;
}

#arrow.hide {
    display: none;
}

#switch-background-button {
    padding: 3px 2px 0 0;
    border: 1.5px solid white;
    border-radius: 10px;
    color: white;
    font-weight: bold;
    position: fixed;
    display: block;
    top: 15px;
    right: 15px;
    animation: Fondue 1s;
    cursor: pointer;
}

#switch-background-button>embed {
    z-index: 0;
}

#switch-background-button.hide {
    display: none;
}

#contact-section>div>div>section>p>a {
    display: flex;
    align-items: center;
}

#contact-section>div>div>section>p>a>svg {
    margin-right: 10px;
}

#hobbies>dt {
    display: flex;
    align-items: center;
}

#hobbies>dt>svg {
    margin-right: 7px;
    width: 32px;
    margin-top: -4px;
}

#about-section>section>p>a>svg {
    margin-right: 5px;
    margin-left: -3px;
}

.tab-block {
    border-bottom: 1px solid #efefef;
}

.contact-columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 20px;
}

.contact-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.contact-element>a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-element>a>div {
    color: black;
}

.contact-element>a:hover {
    text-decoration: none;
}

.at {
    margin-top: -24px;
}

.timeline-content {
    margin-top: -3px;
}

.timeline-icon>embed {
    margin: -5px 0 0 -5px;
}

.email {
    max-width: 300px;
}

.flex-start {
    align-self: flex-start;
}

.social {
    min-width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.send-email-button {
    display: flex;
    margin-left: auto;
}

.send-icon {
    -webkit-filter: invert(1);
    filter: invert(1);
    margin-right: 5px;
}

h3>embed {
    margin: 5px 10px -6.5px 5px;
}

@media screen and (max-width: 650px) {
    hgroup {
        background: none !important;
        padding: 0px;
    }
    .profile {
        width: auto;
        height: auto;
    }
    #switch-background-button {
        display: none;
    }
}

@media screen and (max-height: 500px) {
    hgroup {
        background: none !important;
        padding: 0px;
    }
    .profile {
        width: auto;
        height: auto;
    }
    #switch-background-button {
        display: none;
    }
    #arrow {
        display: none;
    }
}

@media screen and (max-height: 350px) {
    .profile {
        height: 200px;
    }
}

@keyframes BasFondue {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes HautFondue {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes Fondue {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes AntiFondue {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url("fonts/Inter-UI-Regular.woff2") format("woff2"),
    url("fonts/Inter-UI-Regular.woff") format("woff");
}